sudo apt-get install mesa-utils
sudo apt-get install freeglut3-dev

https://github.com/glfw/glfw/releases/download/3.3.8/glfw-3.3.8.zip
cmake -G "Unix Makefiles"
make
make install

https://glad.dav1d.de/

https://github.com/nothings/stb/blob/master/stb_image.h